<center>
<h1>Editing password for <%= ((@user.username)?(@user.username):"user") %></h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag ({:action => 'change_password', :id => @user}, {:id => "frmChange"}) do %>
  <p><input type="hidden" name="origin" id="origin" value="<%= ((@origin)?@origin:"") %>" /></p>
  <p><input type="hidden" name="src" id="src" value="/user/change_password/<%= @user.user_id %>" /></p>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save', :onclick => "document.frmChange.action='/user/change_password/" + @user.user_id.to_s + "'document.frmChange.submit()", :style => "width: 320px" %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'show' %>
</center>
